{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}{% endblock  %}</title>
    {% block pageStyle %}{% endblock  %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{% url "starting-page" %}">Pratham's Blog</a></h1>
        <nav>
            <a href="{% url "posts-page" %}">All Posts</a>
        </nav>
    </header>
    {% block pageContent %}{% endblock  %}

</body>
</html>