{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}
  Review Page
{% endblock %}

{% comment %} {% block pageStlyeSheet %}
  <link rel="stylesheet" href="{% static '' %}" />
{% endblock %} {% endcomment %}

{% block pageContent %}
  <a href="{% url "review-list" %}">all reviews</a>
  <form action="/" method="post">
    {% csrf_token %}
    {% for field in form %} 
    <div class="form-control {% if field.errors %} errors {% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    
    <button>send</button>
  </form>
{% endblock %}
